<div class="row">
    <div class="large-12 column">
        <div class="row collapse">
            <div class="large-12 column categories">
                <section>
                    <ul>
                        <li><a ng-href="settings/user/add" ng-bind="'Add User'"> </a></li>
                        <li><a ng-href="settings/user/edit" ng-bind="'Edit User'"> </a></li>
                        <li><a ng-href="settings/user/delete" ng-bind="'Delete User'"> </a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>