<!--<div class="header-background">
    <i class="fa fa-folder-open"></i>
    <span ng-bind="'Categories'">
    </span>
</div>-->

<div class="row collapse">
    <div class="large-12 column">
        <div class="row collapse">
            <div class="large-12 column categories">
                <section>
                    <ul>
                        <li ng-repeat="category in categoryList">
                            <category-link></category-link>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>