
<div class="row">
    <div class="large-12 columns margin-handler">
        <div class="row">
            <div class="large-6 columns text-center">
                <a href="https://www.facebook.com/premiumstress" title="Like PremiumStress On Facebook!" target="_blank">
                    <i class="fi-social-facebook"></i>
                </a>
                <h6 ng-bind="fbFollowersCount"></h6>
                <p>
                    <small>FOLLOWERS</small>
                </p>
                <br>
            </div>
            <div class="large-6 columns text-center">
                <a href="https://twitter.com/PremiumStress" title="Follow On Twitter!" target="_blank">
                    <i class="fi-social-twitter"></i>
                </a>
                <h6 ng-bind="twitterFollowerCount"></h6>
                <p>
                    <small>FOLLOWERS</small>
                </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="large-6 column text-center">
                <a href="https://www.youtube.com/c/Premiumstress" title="Subscribe To Our Channel!" target="_blank">
                    <i class="fi-social-youtube"></i>
                </a>
                <h6 ng-bind="youtubeSubscribersCount"></h6>
                <p>
                    <small>SUBSCRIBERS</small>
                </p>
            </div>
        </div>
    </div>
</div>
