<footer class="footer">
    <div class="row">
        <div class="small-12 medium-6 medium-push-6 columns">
            <p class="footer-links">
                @*<a href="/MainPage/">Home</a>*@
                <a href="/blog/">Blog</a>
                <a href="/about/">About</a>
                <a href="/contact/">Contact</a>
            </p>
            <ul class="inline-list social">
                <a href="https://www.facebook.com/premiumstress" title="Like PremiumStress On Facebook!" target="_blank">
                    <i class="fi-social-facebook"></i>
                </a>
                <a href="https://twitter.com/PremiumStress" title="Follow On Twitter!" target="_blank">
                    <i class="fi-social-twitter"></i>
                </a>
                @*<a href="https://plus.google.com/+Premiumstress/" title="See Us On GooglePlus!" target="_blank">
                    <i class="fi-social-google-plus"></i>
                </a>*@
                <a href="https://www.youtube.com/c/Premiumstress" title="Subscribe To Our Channel!" target="_blank">
                    <i class="fi-social-youtube"></i>
                </a>
            </ul>
        </div>
        <div class="small-12 medium-6 medium-pull-6 columns">
            <p class="logo hide-for-small-only logo-format">
                <a href="/blog/">PremiumStress</a>
            </p>

            <p class="copywrite">PremiumStress © 2015</p>
        </div>
    </div>
</footer>