<div class="row collapse">
    <div class="large-11 small-9 columns">
        <input type="text" placeholder="Find Blog">
    </div>
    <div class="large-1 small-3 columns">
        <a href="#" class="alert button tiny">Search</a>
    </div>
</div>