<h2 ng-bind="'Social Happenings'" class="margin-handler header-background"></h2>
<div>
    <a class="twitter-timeline" href="https://twitter.com/PremiumStress"
       data-widget-id="641294320998285312">
        Tweets by@twitterHandle
    </a>
</div>
<div class="row collapse margin-balancer">
    <div class="large-12 columns">
        <div class="margin-handler">
            <div class="fb-page"
                 data-href="https://www.facebook.com/PremiumStress"
                 data-height="250" data-small-header="true"
                 data-adapt-container-width="true"
                 data-hide-cover="false"
                 data-show-facepile="true"
                 data-show-posts="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/PremiumStress">
                        <a href="https://www.facebook.com/PremiumStress">PremiumStress</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>