<div class="row">
    <div class="large-12 column">
        <div class="row collapse">
            <div class="large-12 column categories">
                <section>
                    <ul>
                        <!--<li><a ng-href="settings/tag/add" ng-bind="'Add Tag'"> </a></li>-->
                        <li><a ng-href="settings/password/change" ng-bind="'Change Password'"> </a></li>
                        <!--<li><a ng-href="settings/tag/delete" ng-bind="'Delete Tag'"> </a></li>-->
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>