<div class="row" id="categoryPanel" ng-controller="CategoryController" ng-init="setCategoryMode('add')">
    <div class="large-12 columns margin-handler outer-panel">
        <div id="successCategory" class="success-reveal-class small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <a class="close-reveal-modal-success" aria-label="Close" ng-click="closeSuccessAlert()">&#215;</a>
            <h2 id="modalTitle">Success!</h2>
            <p class="lead">You have successfully updated categories.</p>

        </div>

        <div id="failCategory" class="fail-reveal-class small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <a class="close-reveal-modal-success" aria-label="Close" ng-click="closeSuccessAlert()">&#215;</a>
            <h2 id="modalTitle">Error!</h2>
            <p class="lead" ng-bind="failAlertBody">You have successfully updated categories.</p>

        </div>

        <h2>
            <span ng-bind="categoryMode"></span> Category
        </h2>

        <div class="margin-handler">
            <label>
                Add New Category
                <input type="text"
                       ng-model="newCategoryItem"
                       required />
            </label>

            <input type="button" class="button tiny" value="Save"
                   ng-click="saveCategory(categoryMode)" />
        </div>

    </div>
</div>