<div class="row">
    <div class="large-12 column">
        <div class="row collapse">
            <div class="large-12 column categories">
                <section>
                    <ul>
                        <li><a ng-href="settings/category/add" ng-bind="'Add Category'"> </a></li>
                        <li><a ng-href="settings/category/edit" ng-bind="'Edit Category'"> </a></li>
                        <li><a ng-href="settings/category/delete" ng-bind="'Delete Category'"> </a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>