<div class="row text-center">
    <div class="large-12 column">
        <div class="content-divider"></div>
        <h4>Breaking News</h4>
        <div class="content-divider"></div>
        <ul class="large-block-grid-5 small-block-grid-1 medium-block-grid-5">
            <li>
                <img alt="image for article" src="http://placehold.it/400x370&amp;text=Look at me!">
            </li>
            <li>
                <img alt="image for article" src="http://placehold.it/400x370&amp;text=Look at me!">
            </li>
            <li>
                <img alt="image for article" src="http://placehold.it/400x370&amp;text=Look at me!">
            </li>
            <li>
                <img alt="image for article" src="http://placehold.it/400x370&amp;text=Look at me!">
            </li>
            <li>
                <img alt="image for article" src="http://placehold.it/400x370&amp;text=Look at me!">
            </li>
        </ul>
    </div>
</div>