<div class="row">
    @*<div class="medium-4 columns">
        <img alt="company logo" src="http://placehold.it/450x183&amp;text=LOGO">
        Number one source of stress!
    </div>*@
    <div class="medium-12 columns">
        <img alt="Want to advertise? Contact us!" src="~/Images/banner-ads.jpg">
    </div>
</div>
