

@*<div ng-bind="'Recent Comments'"
     class="header-background recent-comment">
</div>*@

<div class="header-background margin-handler">
    <i class="fa fa-comment-o"></i>
    <span ng-bind="'Recent Comments'">
    </span>
</div>

<script type="text/javascript"
        src="http://premiumstresslocal.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=40&excerpt_length=60">
</script>