<div class="large-3 columns hide-for-medium-down margin-handler">
    <div class="row  outer-panel ">
        @*@Html.Partial("Partials/_SocialsIcon")*@
        @*@Html.Partial("Partials/_Categories")*@
        @Html.Partial("Partials/_PopularPosts")
        @Html.Partial("Partials/_RecentComments")
        @*@Html.Partial("_Controllers/_Socials")*@
        @*@Html.Partial("Partials/_RecommendedPosts")*@
      
    </div>
</div>

@*<div class="row">
        <div class="large-12 columns margin-handler">
             Sidebar Fixed
            <ins class="adsbygoogle"
                 style="display:inline-block;width:100%;height:600px"
                 data-ad-client="ca-pub-4689506079033489"
                 data-ad-slot="7182648749"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>

</div>*@