
@*<div class="header-background margin-handler">
    <i class="fa fa-users"></i>
    <span ng-bind="'Follow Us'">
    </span>
</div>*@


<div class="row">
    <div class="large-12 columns margin-handler">
        <div class="row">
            <div class="large-6 columns text-center">
                <a href="https://www.facebook.com/premiumstress" title="Like PremiumStress On Facebook!" target="_blank">
                    <i class="fi-social-facebook"></i>
                </a>
                <h6 ng-bind="fbFollowersCount"></h6>
                <p>
                    <small>FOLLOWERS</small>
                </p>
                <br>
            </div>
            <div class="large-6 columns text-center">
                <a href="https://twitter.com/PremiumStress" title="Follow On Twitter!" target="_blank">
                    <i class="fi-social-twitter"></i>
                </a>
                <h6 ng-bind="twitterFollowerCount"></h6>
                <p>
                    <small>FOLLOWERS</small>
                </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="large-6 column text-center">
                <a href="https://www.youtube.com/c/Premiumstress" title="Subscribe To Our Channel!" target="_blank">
                    <i class="fi-social-youtube"></i>
                </a>
                <h6 ng-bind="youtubeSubscribersCount"></h6>
                <p>
                    <small>SUBSCRIBERS</small>
                </p>
            </div>
        </div>
    </div>
</div>


@*<div id="subscribeModal" class="reveal-modal" data-reveal aria-labelledby="Subscribe now" aria-hidden="true" role="dialog">
        <form method=post action=http://maillist.Smarterasp.net/subscribe.asp>
            <p>First Name: <input type="text" name="firstname" size="20">
            <p>Last Name: <input type="text" name="lastname" size="20">
            <p>
                Email Address: <input type="text" name="email" size="20">

                <!--enter a url to redirect to after user subscribed. You can also leave it empty -->
                <input type="hidden" name="redirectionURL" value="">


                <!--enter a url to redirect to after user confirm their subscription. You can also leave it empty -->
                <input type="hidden" name="redirectionConfirmURL" value="">


                <input type="hidden" name="l" size="20" value="37147">
                <input type="hidden" name="s" size="20" value="0021E1F01289C706C71F4F5B9B12B244">
            </p>
            <p><input type="submit" value="Submit" name="B1"><input type="reset" value="Reset" name="B2"></p>
        </form>
        <a class="close-reveal-modal" aria-label="Close" ng-click="resetForm()">&#215;</a>
    </div>*@