<div class="row">
    <div class="large-12 column">
        <div class="row collapse">
            <div class="large-12 column categories">
                <section>
                    <ul>
                        <li><a ng-href="settings/article/add" ng-bind="'Add Article'"> </a></li>
                        <li><a ng-href="settings/article/edit" ng-bind="'Edit Article'"> </a></li>
                        <li><a ng-href="settings/article/publish" ng-bind="'Publish Article'"> </a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>