<div class="row all-blogpost-table" ng-controller="BlogController" ng-init="getBlogs(1,'settings')">
    <div class="large-12 column margin-handler outer-panel">
        <h2>Publish Article</h2>
        <div class="row">
            <div class="large-12 column">
                <div class="row">
                    <div class="row collapse">
                        <div class="large-12 columns margin-handler">
                            <div class="row collapse margin-handler-alert">
                                <div class="large-12 columns">
                                    <input type="text"
                                           ng-model="searchedWord"
                                           placeholder="Search Blog"
                                           ng-keypress="($event.which === 13)?findBlogs(searchedWord,currentPageNum,'settings'):0"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <generic-table list='listOfBlogs'
                                   header='["ID","Title","Author","Date Posted","Total Views","Publish","Published"]'
                                   columns='[
                           [{"model":"vm.ID"}],
                           [{"model":"vm.Title", "rowClass" : "text-justify",
                                "link":[{"linkFunction":"getSingleBlogLink(vm.ID , vm.Title)", "class" : "text-center"}]}],
                           [{"model":"vm.User.Fullname"}],
                           [{"model":"vm.DatePosted"}],
                           [{"model":"vm.ViewCount" ,"rowClass" : "text-center"}],
                           [{"icon":"withApproval", "rowClass" : "text-center"}],
                           [{"icon":"approvalStatus", "rowClass" : "text-center"}]
                          ]'>
                    </generic-table>
                    <!--Pagination-->
                    <div ng-hide="!listOfBlogs.length">
                        <div data-ng-include="'Template/Pagination.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

